html, body {
    background-color: ivory;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 100vh;
    height: 100vh;
    margin: 5px;
    font-size: 20px;
}

.full-height {
    height: 90vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.content {
    text-align: center;
}

.title {
    font-size: 50px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.created {
    margin-left: 20px;
    font-size: 15px;
}

table {
    width: 100%;
    border-style: hidden;
    font-size: 18px;
}

td {
    border-style: solid;
    border-width: 1px;
    border-color: darkgray;
    padding: 3px;
}

.button {
    background: cornflowerblue;
    color: white;
    border-style: hidden;
    padding: 3px;
    width: 110px;
}

.button:hover {
    background: darkcyan;
}

.columnId {
    font-weight: bold;
}